# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
local_settings.py

# Media files
media/

# Static files
staticfiles/

# Database files
db.sqlite3

# Virtual environment
venv/